In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np

In [2]:
import tensorflow
tensorflow.keras.__version__

'2.4.0'

In [3]:
file1 = pd.read_csv("student-mat.csv",sep=";",header=0)
file2 = pd.read_csv("student-por.csv",sep=";",header=0)

In [4]:
file1['subject'] = 'Math'

In [5]:
file1.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,Math
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,Math
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,Math
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,Math
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,Math

In [6]:
file2['subject'] = 'Por'

In [7]:
file2.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,4,0,11,11,Por
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,2,9,11,11,Por
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,6,12,13,12,Por
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,0,14,14,14,Por
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,0,11,13,13,Por

In [8]:
df = pd.concat([file1,file2])

In [9]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,Math
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,Math
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,Math
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,Math
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,Math
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,4,2,1,2,5,4,10,11,10,Por
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,3,4,1,1,1,4,15,15,16,Por
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,5,6,11,12,9,Por
647,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,6,10,10,10,Por
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,1,3,4,5,4,10,11,11,Por

In [10]:
 df.to_csv("student-mat-por_combinedData.csv")

In [11]:
 df1 = pd.read_csv('student-mat-por_combinedData.csv')

In [12]:
df1

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,0,GP,F,18,U,GT3,A,4,4,at_home,...,3,4,1,1,3,6,5,6,6,Math
1,1,GP,F,17,U,GT3,T,1,1,at_home,...,3,3,1,1,3,4,5,5,6,Math
2,2,GP,F,15,U,LE3,T,1,1,at_home,...,3,2,2,3,3,10,7,8,10,Math
3,3,GP,F,15,U,GT3,T,4,2,health,...,2,2,1,1,5,2,15,14,15,Math
4,4,GP,F,16,U,GT3,T,3,3,other,...,3,2,1,2,5,4,6,10,10,Math
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,644,MS,F,19,R,GT3,T,2,3,services,...,4,2,1,2,5,4,10,11,10,Por
1040,645,MS,F,18,U,LE3,T,3,1,teacher,...,3,4,1,1,1,4,15,15,16,Por
1041,646,MS,F,18,U,GT3,T,1,1,other,...,1,1,1,1,5,6,11,12,9,Por
1042,647,MS,M,17,U,LE3,T,3,1,services,...,4,5,3,4,2,6,10,10,10,Por
1043,648,MS,M,18,R,LE3,T,3,2,services,...,4,1,3,4,5,4,10,11,11,Por

In [13]:
grade = []
for x in df["G3"]:

    if x > 15:
        grade.append(4)
    elif x >= 10:
        grade.append(3)
    elif x >= 5:
        grade.append(2)
    else:
        grade.append(1)
print(grade)

[2, 2, 3, 3, 3, 3, 3, 2, 4, 3, 2, 3, 3, 3, 4, 3, 3, 3, 2, 3, 3, 3, 4, 3, 2, 2, 3, 3, 3, 3, 3, 4, 4, 3, 3, 2, 4, 3, 3, 3, 3, 3, 4, 3, 2, 2, 3, 4, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 2, 4, 3, 3, 2, 2, 3, 3, 3, 2, 2, 4, 3, 3, 2, 3, 3, 3, 3, 3, 3, 2, 3, 3, 2, 3, 3, 2, 2, 3, 3, 2, 2, 4, 2, 3, 3, 3, 3, 3, 3, 2, 2, 4, 3, 2, 4, 3, 2, 4, 3, 4, 4, 3, 3, 4, 2, 4, 3, 3, 2, 3, 3, 3, 3, 3, 2, 3, 3, 2, 1, 4, 1, 1, 3, 3, 1, 1, 1, 1, 3, 3, 1, 2, 3, 3, 1, 3, 1, 3, 1, 3, 1, 3, 3, 1, 3, 2, 3, 3, 3, 3, 1, 2, 1, 3, 2, 3, 3, 4, 1, 3, 1, 4, 3, 1, 2, 2, 3, 2, 2, 3, 2, 3, 4, 2, 3, 3, 3, 3, 2, 3, 3, 2, 2, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 2, 3, 2, 2, 3, 3, 2, 2, 3, 3, 2, 3, 3, 1, 2, 2, 3, 2, 1, 4, 3, 3, 2, 3, 3, 2, 3, 3, 3, 2, 3, 2, 3, 3, 3, 3, 1, 3, 3, 1, 3, 1, 4, 3, 2, 2, 3, 2, 3, 2, 2, 3, 2, 3, 3, 3, 1, 4, 2, 3, 2, 1, 4, 3, 3, 3, 1, 2, 3, 3, 3, 3, 3, 2, 2, 2, 3, 2, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 1, 2, 3, 4, 3, 3, 3, 4, 3, 3, 4, 2, 3, 3, 1, 3, 3, 3, 3, 3, 1, 2, 3, 3, 3, 2, 3, 3, 3, 3, 4, 3, 2, 3, 2, 3, 1, 1, 1, 3, 3, 1, 4, 3, 3, 1, 3, 1, 3, 3, 4, 2, 3, 3, 2, 3, 2, 2, 3, 2, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 2, 3, 3, 2, 4, 3, 3, 3, 3, 3, 3, 2, 3, 1, 2, 3, 2, 1, 2, 1, 2, 4, 2, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 4, 2, 3, 3, 3, 3, 4, 3, 4, 4, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 2, 3, 1, 3, 3, 3, 3, 2, 3, 3, 3, 1, 3, 2, 2, 3, 2, 2, 2, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 2, 4, 3, 3, 4, 3, 3, 3, 3, 2, 3, 4, 3, 3, 3, 3, 2, 2, 2, 3, 3, 3, 3, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 2, 3, 3, 2, 3, 2, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 2, 4, 3, 3, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 4, 3, 3, 4, 4, 4, 4, 3, 3, 3, 3, 4, 4, 3, 3, 2, 4, 4, 3, 3, 3, 3, 3, 3, 4, 4, 3, 4, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 2, 3, 3, 3, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 3, 4, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 4, 3, 4, 3, 3, 3, 4, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 2, 3, 3, 3, 2, 3, 3, 3, 2, 3, 3, 4, 1, 2, 3, 2, 3, 2, 3, 2, 4, 3, 3, 3, 3, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 2, 3, 2, 3, 3, 3, 2, 3, 2, 3, 3, 3, 2, 3, 3, 2, 3, 3, 2, 3, 3, 3, 3, 4, 2, 3, 2, 3, 3, 3, 3, 3, 2, 4, 4, 3, 2, 2, 2, 3, 4, 3, 2, 1, 2, 3, 2, 2, 2, 4, 3, 3, 2, 3, 2, 3, 2, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 2, 2, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 2, 3, 2, 2, 1, 3, 2, 1, 2, 2, 3, 2, 3, 3, 3, 4, 4, 4, 1, 3, 3, 3, 3, 3, 1, 3, 1, 4, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 2, 4, 2, 3, 1, 3, 3, 2, 4, 3, 2, 3, 4, 2, 4, 1, 4, 1, 1, 3, 3, 3, 3, 4, 2, 3, 3]

In [14]:
df["grade"] = grade
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,subject,grade
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,6,5,6,6,Math,2
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,4,5,5,6,Math,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,10,7,8,10,Math,3
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,1,1,5,2,15,14,15,Math,3
4,GP,F,16,U,GT3,T,3,3,other,other,...,2,1,2,5,4,6,10,10,Math,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,2,1,2,5,4,10,11,10,Por,3
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,1,1,1,4,15,15,16,Por,4
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,5,6,11,12,9,Por,2
647,MS,M,17,U,LE3,T,3,1,services,services,...,5,3,4,2,6,10,10,10,Por,3
648,MS,M,18,R,LE3,T,3,2,services,other,...,1,3,4,5,4,10,11,11,Por,3

In [15]:
new_df = df.drop(columns = ["G2","G1","G3"])
new_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,subject,grade
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,4,3,4,1,1,3,6,Math,2
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,no,5,3,3,1,1,3,4,Math,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,no,4,3,2,2,3,3,10,Math,3
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,3,2,2,1,1,5,2,Math,3
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,4,3,2,1,2,5,4,Math,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,no,5,4,2,1,2,5,4,Por,3
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,no,4,3,4,1,1,1,4,Por,4
646,MS,F,18,U,GT3,T,1,1,other,other,...,no,1,1,1,1,1,5,6,Por,2
647,MS,M,17,U,LE3,T,3,1,services,services,...,no,2,4,5,3,4,2,6,Por,3
648,MS,M,18,R,LE3,T,3,2,services,other,...,no,4,4,1,3,4,5,4,Por,3

In [16]:
data = new_df.values
X = new_df.drop(columns =["grade"])
y = new_df['grade']
y

0      2
1      2
2      3
3      3
4      3
      ..
644    3
645    4
646    2
647    3
648    3
Name: grade, Length: 1044, dtype: int64

In [17]:
cat_columns = ["school","sex","address","famsize","Pstatus","Mjob","Fjob","reason","guardian","schoolsup","famsup","paid","activities","nursery","higher","internet","romantic","subject"]
cat_columns2 = ["school","absences","age","health","Walc","goout","subject"]

cat_columns2

['school', 'absences', 'age', 'health', 'Walc', 'goout', 'subject']

In [18]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
label_encoder = LabelEncoder()

In [19]:
X= X[cat_columns2]
##X= X.apply(LabelEncoder().fit_transform)
X

    school  absences  age  health  Walc  goout subject
0       GP         6   18       3     1      4    Math
1       GP         4   17       3     1      3    Math
2       GP        10   15       3     3      2    Math
3       GP         2   15       5     1      2    Math
4       GP         4   16       5     2      2    Math
..     ...       ...  ...     ...   ...    ...     ...
644     MS         4   19       5     2      2     Por
645     MS         4   18       1     1      4     Por
646     MS         6   18       5     1      1     Por
647     MS         6   17       2     4      5     Por
648     MS         4   18       5     4      1     Por

[1044 rows x 7 columns]

In [20]:
X[["school","subject"]] = X[["school","subject"]].apply(LabelEncoder().fit_transform)

In [21]:
print(X)

     school  absences  age  health  Walc  goout  subject
0         0         6   18       3     1      4        0
1         0         4   17       3     1      3        0
2         0        10   15       3     3      2        0
3         0         2   15       5     1      2        0
4         0         4   16       5     2      2        0
..      ...       ...  ...     ...   ...    ...      ...
644       1         4   19       5     2      2        1
645       1         4   18       1     1      4        1
646       1         6   18       5     1      1        1
647       1         6   17       2     4      5        1
648       1         4   18       5     4      1        1

[1044 rows x 7 columns]

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [23]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

In [24]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
import sklearn
from tensorflow.keras.utils import to_categorical

In [26]:
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

In [27]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [28]:
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=7))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=100, activation='relu'))

model.add(Dense(units=5, activation='softmax'))

In [29]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               800
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 505
=================================================================
Total params: 21,505
Trainable params: 21,505
Non-trainable params: 0
_________________________________________________________________

In [30]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [31]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=190,
    shuffle=True,
    verbose=2
)

Epoch 1/190
25/25 - 0s - loss: 1.3170 - accuracy: 0.5581
Epoch 2/190
25/25 - 0s - loss: 0.9879 - accuracy: 0.6590
Epoch 3/190
25/25 - 0s - loss: 0.9144 - accuracy: 0.6679
Epoch 4/190
25/25 - 0s - loss: 0.8875 - accuracy: 0.6679
Epoch 5/190
25/25 - 0s - loss: 0.8671 - accuracy: 0.6641
Epoch 6/190
25/25 - 0s - loss: 0.8366 - accuracy: 0.6731
Epoch 7/190
25/25 - 0s - loss: 0.8227 - accuracy: 0.6743
Epoch 8/190
25/25 - 0s - loss: 0.8032 - accuracy: 0.6858
Epoch 9/190
25/25 - 0s - loss: 0.7874 - accuracy: 0.6884
Epoch 10/190
25/25 - 0s - loss: 0.7717 - accuracy: 0.6897
Epoch 11/190
25/25 - 0s - loss: 0.7675 - accuracy: 0.6845
Epoch 12/190
25/25 - 0s - loss: 0.7596 - accuracy: 0.6986
Epoch 13/190
25/25 - 0s - loss: 0.7449 - accuracy: 0.6999
Epoch 14/190
25/25 - 0s - loss: 0.7445 - accuracy: 0.6935
Epoch 15/190
25/25 - 0s - loss: 0.7255 - accuracy: 0.7024
Epoch 16/190
25/25 - 0s - loss: 0.7144 - accuracy: 0.7050
Epoch 17/190
25/25 - 0s - loss: 0.7025 - accuracy: 0.7126
Epoch 18/190
25/25 - 0s - loss: 0.6894 - accuracy: 0.7203
Epoch 19/190
25/25 - 0s - loss: 0.6900 - accuracy: 0.7178
Epoch 20/190
25/25 - 0s - loss: 0.6789 - accuracy: 0.7139
Epoch 21/190
25/25 - 0s - loss: 0.6580 - accuracy: 0.7292
Epoch 22/190
25/25 - 0s - loss: 0.6532 - accuracy: 0.7369
Epoch 23/190
25/25 - 0s - loss: 0.6423 - accuracy: 0.7407
Epoch 24/190
25/25 - 0s - loss: 0.6449 - accuracy: 0.7382
Epoch 25/190
25/25 - 0s - loss: 0.6279 - accuracy: 0.7344
Epoch 26/190
25/25 - 0s - loss: 0.6186 - accuracy: 0.7458
Epoch 27/190
25/25 - 0s - loss: 0.6150 - accuracy: 0.7497
Epoch 28/190
25/25 - 0s - loss: 0.6102 - accuracy: 0.7407
Epoch 29/190
25/25 - 0s - loss: 0.5971 - accuracy: 0.7458
Epoch 30/190
25/25 - 0s - loss: 0.5838 - accuracy: 0.7599
Epoch 31/190
25/25 - 0s - loss: 0.5832 - accuracy: 0.7535
Epoch 32/190
25/25 - 0s - loss: 0.5924 - accuracy: 0.7446
Epoch 33/190
25/25 - 0s - loss: 0.5754 - accuracy: 0.7739
Epoch 34/190
25/25 - 0s - loss: 0.5524 - accuracy: 0.7765
Epoch 35/190
25/25 - 0s - loss: 0.5432 - accuracy: 0.7803
Epoch 36/190
25/25 - 0s - loss: 0.5464 - accuracy: 0.7625
Epoch 37/190
25/25 - 0s - loss: 0.5508 - accuracy: 0.7637
Epoch 38/190
25/25 - 0s - loss: 0.5282 - accuracy: 0.7969
Epoch 39/190
25/25 - 0s - loss: 0.5121 - accuracy: 0.7867
Epoch 40/190
25/25 - 0s - loss: 0.5029 - accuracy: 0.7969
Epoch 41/190
25/25 - 0s - loss: 0.4883 - accuracy: 0.8110
Epoch 42/190
25/25 - 0s - loss: 0.4926 - accuracy: 0.7995
Epoch 43/190
25/25 - 0s - loss: 0.4890 - accuracy: 0.8033
Epoch 44/190
25/25 - 0s - loss: 0.4616 - accuracy: 0.8110
Epoch 45/190
25/25 - 0s - loss: 0.4545 - accuracy: 0.8174
Epoch 46/190
25/25 - 0s - loss: 0.4609 - accuracy: 0.8212
Epoch 47/190
25/25 - 0s - loss: 0.4568 - accuracy: 0.8084
Epoch 48/190
25/25 - 0s - loss: 0.4458 - accuracy: 0.8033
Epoch 49/190
25/25 - 0s - loss: 0.4457 - accuracy: 0.8174
Epoch 50/190
25/25 - 0s - loss: 0.4232 - accuracy: 0.8199
Epoch 51/190
25/25 - 0s - loss: 0.4284 - accuracy: 0.8301
Epoch 52/190
25/25 - 0s - loss: 0.4003 - accuracy: 0.8557
Epoch 53/190
25/25 - 0s - loss: 0.3901 - accuracy: 0.8455
Epoch 54/190
25/25 - 0s - loss: 0.3969 - accuracy: 0.8480
Epoch 55/190
25/25 - 0s - loss: 0.3913 - accuracy: 0.8391
Epoch 56/190
25/25 - 0s - loss: 0.3785 - accuracy: 0.8467
Epoch 57/190
25/25 - 0s - loss: 0.3742 - accuracy: 0.8455
Epoch 58/190
25/25 - 0s - loss: 0.3686 - accuracy: 0.8570
Epoch 59/190
25/25 - 0s - loss: 0.3633 - accuracy: 0.8570
Epoch 60/190
25/25 - 0s - loss: 0.3460 - accuracy: 0.8659
Epoch 61/190
25/25 - 0s - loss: 0.3481 - accuracy: 0.8506
Epoch 62/190
25/25 - 0s - loss: 0.3344 - accuracy: 0.8659
Epoch 63/190
25/25 - 0s - loss: 0.3445 - accuracy: 0.8455
Epoch 64/190
25/25 - 0s - loss: 0.3537 - accuracy: 0.8531
Epoch 65/190
25/25 - 0s - loss: 0.3265 - accuracy: 0.8570
Epoch 66/190
25/25 - 0s - loss: 0.3209 - accuracy: 0.8748
Epoch 67/190
25/25 - 0s - loss: 0.3175 - accuracy: 0.8736
Epoch 68/190
25/25 - 0s - loss: 0.3193 - accuracy: 0.8723
Epoch 69/190
25/25 - 0s - loss: 0.3048 - accuracy: 0.8787
Epoch 70/190
25/25 - 0s - loss: 0.3086 - accuracy: 0.8595
Epoch 71/190
25/25 - 0s - loss: 0.3214 - accuracy: 0.8659
Epoch 72/190
25/25 - 0s - loss: 0.3107 - accuracy: 0.8748
Epoch 73/190
25/25 - 0s - loss: 0.2877 - accuracy: 0.8799
Epoch 74/190
25/25 - 0s - loss: 0.2801 - accuracy: 0.8927
Epoch 75/190
25/25 - 0s - loss: 0.2855 - accuracy: 0.8863
Epoch 76/190
25/25 - 0s - loss: 0.2790 - accuracy: 0.8863
Epoch 77/190
25/25 - 0s - loss: 0.2716 - accuracy: 0.8825
Epoch 78/190
25/25 - 0s - loss: 0.2763 - accuracy: 0.8927
Epoch 79/190
25/25 - 0s - loss: 0.2589 - accuracy: 0.8851
Epoch 80/190
25/25 - 0s - loss: 0.2681 - accuracy: 0.8774
Epoch 81/190
25/25 - 0s - loss: 0.2626 - accuracy: 0.8825
Epoch 82/190
25/25 - 0s - loss: 0.2529 - accuracy: 0.8978
Epoch 83/190
25/25 - 0s - loss: 0.2582 - accuracy: 0.8953
Epoch 84/190
25/25 - 0s - loss: 0.2800 - accuracy: 0.8838
Epoch 85/190
25/25 - 0s - loss: 0.2510 - accuracy: 0.8953
Epoch 86/190
25/25 - 0s - loss: 0.2461 - accuracy: 0.8991
Epoch 87/190
25/25 - 0s - loss: 0.2566 - accuracy: 0.8991
Epoch 88/190
25/25 - 0s - loss: 0.2383 - accuracy: 0.9004
Epoch 89/190
25/25 - 0s - loss: 0.2330 - accuracy: 0.9004
Epoch 90/190
25/25 - 0s - loss: 0.2462 - accuracy: 0.9017
Epoch 91/190
25/25 - 0s - loss: 0.2216 - accuracy: 0.9080
Epoch 92/190
25/25 - 0s - loss: 0.2204 - accuracy: 0.9119
Epoch 93/190
25/25 - 0s - loss: 0.2215 - accuracy: 0.9029
Epoch 94/190
25/25 - 0s - loss: 0.2147 - accuracy: 0.9119
Epoch 95/190
25/25 - 0s - loss: 0.2142 - accuracy: 0.9017
Epoch 96/190
25/25 - 0s - loss: 0.2509 - accuracy: 0.8863
Epoch 97/190
25/25 - 0s - loss: 0.2215 - accuracy: 0.9029
Epoch 98/190
25/25 - 0s - loss: 0.2075 - accuracy: 0.9208
Epoch 99/190
25/25 - 0s - loss: 0.2096 - accuracy: 0.9144
Epoch 100/190
25/25 - 0s - loss: 0.2088 - accuracy: 0.9068
Epoch 101/190
25/25 - 0s - loss: 0.2053 - accuracy: 0.9157
Epoch 102/190
25/25 - 0s - loss: 0.2064 - accuracy: 0.9093
Epoch 103/190
25/25 - 0s - loss: 0.2316 - accuracy: 0.9055
Epoch 104/190
25/25 - 0s - loss: 0.2239 - accuracy: 0.9004
Epoch 105/190
25/25 - 0s - loss: 0.2089 - accuracy: 0.9144
Epoch 106/190
25/25 - 0s - loss: 0.2226 - accuracy: 0.9042
Epoch 107/190
25/25 - 0s - loss: 0.2064 - accuracy: 0.9042
Epoch 108/190
25/25 - 0s - loss: 0.2068 - accuracy: 0.9144
Epoch 109/190
25/25 - 0s - loss: 0.1964 - accuracy: 0.9080
Epoch 110/190
25/25 - 0s - loss: 0.2067 - accuracy: 0.9157
Epoch 111/190
25/25 - 0s - loss: 0.1808 - accuracy: 0.9183
Epoch 112/190
25/25 - 0s - loss: 0.2008 - accuracy: 0.9208
Epoch 113/190
25/25 - 0s - loss: 0.1960 - accuracy: 0.9195
Epoch 114/190
25/25 - 0s - loss: 0.2103 - accuracy: 0.9093
Epoch 115/190
25/25 - 0s - loss: 0.1901 - accuracy: 0.9119
Epoch 116/190
25/25 - 0s - loss: 0.1801 - accuracy: 0.9221
Epoch 117/190
25/25 - 0s - loss: 0.1891 - accuracy: 0.9208
Epoch 118/190
25/25 - 0s - loss: 0.1787 - accuracy: 0.9221
Epoch 119/190
25/25 - 0s - loss: 0.1862 - accuracy: 0.9221
Epoch 120/190
25/25 - 0s - loss: 0.1783 - accuracy: 0.9208
Epoch 121/190
25/25 - 0s - loss: 0.1877 - accuracy: 0.9157
Epoch 122/190
25/25 - 0s - loss: 0.1802 - accuracy: 0.9157
Epoch 123/190
25/25 - 0s - loss: 0.1860 - accuracy: 0.9310
Epoch 124/190
25/25 - 0s - loss: 0.1832 - accuracy: 0.9195
Epoch 125/190
25/25 - 0s - loss: 0.1663 - accuracy: 0.9298
Epoch 126/190
25/25 - 0s - loss: 0.1735 - accuracy: 0.9234
Epoch 127/190
25/25 - 0s - loss: 0.1619 - accuracy: 0.9336
Epoch 128/190
25/25 - 0s - loss: 0.1753 - accuracy: 0.9246
Epoch 129/190
25/25 - 0s - loss: 0.1715 - accuracy: 0.9170
Epoch 130/190
25/25 - 0s - loss: 0.1574 - accuracy: 0.9310
Epoch 131/190
25/25 - 0s - loss: 0.1693 - accuracy: 0.9259
Epoch 132/190
25/25 - 0s - loss: 0.1626 - accuracy: 0.9234
Epoch 133/190
25/25 - 0s - loss: 0.1525 - accuracy: 0.9336
Epoch 134/190
25/25 - 0s - loss: 0.1573 - accuracy: 0.9246
Epoch 135/190
25/25 - 0s - loss: 0.1560 - accuracy: 0.9285
Epoch 136/190
25/25 - 0s - loss: 0.1761 - accuracy: 0.9221
Epoch 137/190
25/25 - 0s - loss: 0.1939 - accuracy: 0.9157
Epoch 138/190
25/25 - 0s - loss: 0.1761 - accuracy: 0.9208
Epoch 139/190
25/25 - 0s - loss: 0.1817 - accuracy: 0.9195
Epoch 140/190
25/25 - 0s - loss: 0.1727 - accuracy: 0.9170
Epoch 141/190
25/25 - 0s - loss: 0.1542 - accuracy: 0.9349

Epoch 142/190
25/25 - 0s - loss: 0.1620 - accuracy: 0.9221
Epoch 143/190
25/25 - 0s - loss: 0.1556 - accuracy: 0.9336
Epoch 144/190
25/25 - 0s - loss: 0.1534 - accuracy: 0.9285
Epoch 145/190
25/25 - 0s - loss: 0.1766 - accuracy: 0.9144
Epoch 146/190
25/25 - 0s - loss: 0.1581 - accuracy: 0.9349
Epoch 147/190
25/25 - 0s - loss: 0.1417 - accuracy: 0.9400
Epoch 148/190
25/25 - 0s - loss: 0.1481 - accuracy: 0.9323
Epoch 149/190
25/25 - 0s - loss: 0.1666 - accuracy: 0.9234
Epoch 150/190
25/25 - 0s - loss: 0.1725 - accuracy: 0.9195
Epoch 151/190
25/25 - 0s - loss: 0.1519 - accuracy: 0.9259
Epoch 152/190
25/25 - 0s - loss: 0.1680 - accuracy: 0.9246
Epoch 153/190
25/25 - 0s - loss: 0.1485 - accuracy: 0.9310
Epoch 154/190
25/25 - 0s - loss: 0.1431 - accuracy: 0.9285
Epoch 155/190
25/25 - 0s - loss: 0.1497 - accuracy: 0.9361
Epoch 156/190
25/25 - 0s - loss: 0.1547 - accuracy: 0.9298
Epoch 157/190
25/25 - 0s - loss: 0.1619 - accuracy: 0.9246
Epoch 158/190
25/25 - 0s - loss: 0.1607 - accuracy: 0.9234
Epoch 159/190
25/25 - 0s - loss: 0.1514 - accuracy: 0.9285
Epoch 160/190
25/25 - 0s - loss: 0.1515 - accuracy: 0.9361
Epoch 161/190
25/25 - 0s - loss: 0.1603 - accuracy: 0.9298
Epoch 162/190
25/25 - 0s - loss: 0.1344 - accuracy: 0.9387
Epoch 163/190
25/25 - 0s - loss: 0.1558 - accuracy: 0.9234
Epoch 164/190
25/25 - 0s - loss: 0.1395 - accuracy: 0.9374
Epoch 165/190
25/25 - 0s - loss: 0.1491 - accuracy: 0.9310
Epoch 166/190
25/25 - 0s - loss: 0.1551 - accuracy: 0.9259
Epoch 167/190
25/25 - 0s - loss: 0.1583 - accuracy: 0.9246
Epoch 168/190
25/25 - 0s - loss: 0.1366 - accuracy: 0.9387
Epoch 169/190
25/25 - 0s - loss: 0.1568 - accuracy: 0.9259
Epoch 170/190
25/25 - 0s - loss: 0.1811 - accuracy: 0.9234
Epoch 171/190
25/25 - 0s - loss: 0.2240 - accuracy: 0.9055
Epoch 172/190
25/25 - 0s - loss: 0.2001 - accuracy: 0.9195
Epoch 173/190
25/25 - 0s - loss: 0.1513 - accuracy: 0.9323
Epoch 174/190
25/25 - 0s - loss: 0.1497 - accuracy: 0.9310
Epoch 175/190
25/25 - 0s - loss: 0.1707 - accuracy: 0.9144
Epoch 176/190
25/25 - 0s - loss: 0.1421 - accuracy: 0.9259
Epoch 177/190
25/25 - 0s - loss: 0.1307 - accuracy: 0.9387
Epoch 178/190
25/25 - 0s - loss: 0.1442 - accuracy: 0.9310
Epoch 179/190
25/25 - 0s - loss: 0.1513 - accuracy: 0.9221
Epoch 180/190
25/25 - 0s - loss: 0.1397 - accuracy: 0.9298
Epoch 181/190
25/25 - 0s - loss: 0.1463 - accuracy: 0.9272
Epoch 182/190
25/25 - 0s - loss: 0.1468 - accuracy: 0.9336
Epoch 183/190
25/25 - 0s - loss: 0.1385 - accuracy: 0.9310
Epoch 184/190
25/25 - 0s - loss: 0.1439 - accuracy: 0.9310
Epoch 185/190
25/25 - 0s - loss: 0.1394 - accuracy: 0.9374
Epoch 186/190
25/25 - 0s - loss: 0.1452 - accuracy: 0.9310
Epoch 187/190
25/25 - 0s - loss: 0.1397 - accuracy: 0.9336
Epoch 188/190
25/25 - 0s - loss: 0.1508 - accuracy: 0.9285
Epoch 189/190
25/25 - 0s - loss: 0.1370 - accuracy: 0.9310
Epoch 190/190
25/25 - 0s - loss: 0.1353 - accuracy: 0.9336

In [32]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

9/9 - 0s - loss: 3.4120 - accuracy: 0.5134
Normal Neural Network - Loss: 3.412013530731201, Accuracy: 0.5134099721908569

In [33]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
print(encoded_predictions)

WARNING:tensorflow:From <ipython-input-33-534052de1c23>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
[2 4 3 4 1 3 3 4 4 3]

In [34]:
print(f'actual {list(y_test.head(10))} prediction{encoded_predictions[:10]}')

actual [2, 3, 3, 3, 2, 3, 3, 3, 4, 3] prediction[2 4 3 4 1 3 3 4 4 3]

In [50]:
print(X_test_scaled)

[[-0.60538595  2.75073493  0.22968964 ... -0.21497738  1.58738503
   0.77117098]
 [-0.60538595 -0.38598021  0.22968964 ... -0.98712093 -1.85323082
  -1.29672929]
 [-0.60538595  1.80972039  0.22968964 ...  0.55716616  1.58738503
  -1.29672929]
 ...
 [-0.60538595 -0.69965172  0.22968964 ... -0.21497738 -0.99307686
  -1.29672929]
 [-0.60538595 -0.0723087  -0.58043193 ...  0.55716616 -0.1329229
   0.77117098]
 [ 1.6518388   0.55503433 -0.58043193 ... -0.98712093  1.58738503
   0.77117098]]

In [52]:
# Save the model
model.save('../deeplearning.h5')